.trend-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.trend{
    border: 2px solid black;
    width: 504px;
}
.container-trend-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-list{
    display: flex;
    margin-top: 20px;
    gap: 30px;
}
.menu-list a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}
.tv-overwiew{
    width: 500px;
}